<h2>Products</h2>

<div *ngFor="let product of products" class="products">
  <div class="photo">
    <img [src]="product.imageUrl" [alt]="product.name" />
  </div>

  <div class="description">
    <h3>
      <a
        [title]="product.name + ' details'"
        [href]="product.link"
        target="_blank"
      >
        {{ product.name }}
      </a>
    </h3>
    <div>
      <p *ngIf="product.description">Description: {{ product.description }}</p>
    </div>

    <div class="buttons">
      <div *ngIf="product">
        <button type="button" (click)="addToCart(product)" id="buy">Buy</button>
      </div>
      <div>
        <button type="button" (click)="share(product.link)" id="share">Share</button>
      </div>
      <div>
        <app-product-alerts
          [product]="product"
          (notify)="onNotify()"
        ></app-product-alerts>
      </div>
    </div>
  </div>
</div>
